.container {
    margin: 10px auto;
    /* background-color: #f4f6fa; */
    background-color: rgb(244, 246, 250,.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-horizontal{

}
.submit_button {
    padding-left: 200px;
    margin-right:20px;
}
